html {max-width: 100%;}
html, body, h1, h2, h3, h4, h5, h6, p, a {
  font-family: Montserrat;
}

/* ---- NAVIGATION ----*/
#navbar {
  height: 100px;
  width: 100%;
  position: relative;
  padding-top: 10px;
}

#navbar ul {
  list-style: none;
  text-align: center;
  padding: 0px 20px;
  margin: 0;
  float:right;
  margin-top:1.2rem;
}

#navbar ul > li {
  display: inline;
  padding: 40px 20px;
  margin: 20px 10px;
}

#navbar ul > li a {
  text-decoration: none;
  color: #222;
  font-size: 18px;
  transition: .3s background-color;
  letter-spacing: 2px;
}

#navbar ul > li a:hover {
  border-bottom: 2px solid #fa683c;
  margin-bottom: 2px;
}

/* -- SOCIAL ICONS -- */
#social {
  height: 4rem;
  width: 14rem;
  margin: 0 auto;
  float: left;

}
#github, #linkedin, #twitter {
  padding: 10px;
  float: right;
  padding-right: 0.9rem;
}

/* -- Hero Image Section -- */
#hero {
  width: 100%;
  height: 650px;
  max-height: 650px;
  padding-top: 25px;
  position: relative: ;
  background-image: url('../images/portfolio_background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#cta {
  height: 20rem;
  width: 40rem;
  margin: 0 auto;
  margin-top: 5rem;
}

#headline {
  color: #fff;
  font-weight: bold;
  font-size: 6rem;
  line-height: 1rem;
  letter-spacing: 5px;
  text-align: center;
}
#subheadline {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 5px;
  text-align: center;
  line-height: 3rem;
}
.cta-button {
  height: 3rem;
  width: 20rem;
  border: 3px solid #fff;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  padding: 0px 0px 10px 0px;
  text-decoration: none;
}
.cta-button:hover {
  background-color: #fff;
  color: #000;
}

/* -- Background Section -- */
.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}
#background {
  position: relative;
  height: 500px;
  width: 100%;
  clear: both;
  padding-top: 3rem;
}
#background h2 {
  font-size: 3rem;
  line-height: 0;
}
#background p {
  color: #787878;
}
#column-one {
  padding: 3rem 3rem;
  width: 50%;
  float: left;
  position: relative;
}
#column-two {
  padding: 3rem 3rem;
  width: 30%;
  float: right;
  position: relative;
  height: 500px;
  position: relative;
}

#mypic {
  margin-top: 2rem;
  border-radius: 3rem;
  position: relative;
  margin-left: 3rem;
}

.section-title {
  color: #fff;
  font-size: 6rem;
  font-weight: bold;
  padding-bottom: 2rem;
}
/* -- Experience Section -- */
#experience {
  position: relative;
  /*float: left;*/
  height: 450px;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  padding-top: 3rem;
  background-color: #fa683c;
  /*background-color: #3AAFA9;*/
  clear: both;
}

#exp_content {
  color: #fff;
  font-weight: bold;
  padding: 3rem 3rem;
  width: 65%;
}
#edulist {
  font-size: 1rem;
}
#xp-column-one {
  position: relative;
  float: left;
  width: 45%;
}
#xp-column-two {
  position: relative;
  float: right;
  width: 45%;
}


/* --- CONTACT SECTION --- */
#contact {
  position: relative;
  height: 450px;
  width: 100vw;
  margin-left: -50vw;
  padding-top: 2rem;
  left: 50%;
  background-color: #FAFAFA;
  clear: both;
  display: inline;
}

#contact-one {
  position: relative;
  float: left;
  width: 40%;
  padding: 3rem;
  clear: both;
  display: inline;
  border-right: 3px solid #ccc;
  margin-top: 2rem;
}
#contact-two {
  position: relative;
  float: right;
  width: 40%;
  padding: 5rem 3rem;
  display: inline;
}


/* --- Media Queries --- */
@media only screen and (max-width: 850px) {
  #navbar ul > li {
    padding: 0;
  }

}
